//format slide powerpoint
$PTT-width-px:1280px;
$PTT-height-px:720px;

$PTT-width-mm:338mm;
$PTT-height-mm:190.5mm;

//format A4 96dpi
$A4-width-px: 794px;
$A4-height-px: 1123px;

$A4-width-mm: 210mm;
$A4-height-mm: 297mm;
